/*头部-top-left*/
.header-top{
    background: #F7F9F8;
}
.header-top,.header-search,.search-fixed{
    width: 1920px;
}
.header-top div.container ul.fl>li{
    float: left;
    padding: 8px 0;
    margin-right: 10px;
}
/*二级菜单*/
.dropdown{
    position: absolute;
    left: 170px;
    cursor: pointer;
}
.dropdown>.city-name{
    width: 50px;
    height: 30px;
    padding:4px 5px 8px 5px;
    margin-top: 4px;
}
.dropdown>.city-name.on{
    background: #008842;
    color: #fff;
}
.dropdown>.city-name b{
    display: block;
    float: left;
    height: 15px;
    font-weight: normal;
}
.dropdown>.city-name span{
    display: block;
    float: left;
    margin: 4px 0 0 3px;
    height: 8px;
    width: 10px;
    line-height: 15px;
    background:url("http://127.0.0.1:3000/img/imgIndex/header-img.png") no-repeat 1px 2px;
    transform-origin: 50% 50%;
    transition: all .2s linear;
}
.dropdown>.city-name span.rotate{
    transform: rotate(180deg);
    background:url("http://127.0.0.1:3000/img/imgIndex/header-img.png") no-repeat -23px 2px;
}
.dropdown>div.cities{
    width: 500px;
    position: absolute;
    top:30px;
    left: -50px;
    z-index: 12;
    background: #fff;
    border: 2px solid #008842;
}
.dropdown  div.headline{
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    color: #727272;
    background: #ededed;
    text-align: left;
}
.dropdown  div.headline>a{
    float: right;
    color: #008842;
}
.dropdown  div.city-hot{
    overflow: hidden;
    margin: 10px 15px;
    line-height: 18px;
}
.dropdown  div.city-hot span{
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}
.dropdown  div.city-hot i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url("http://127.0.0.1:3000/img/imgIndex/header-img.png") no-repeat -174px 2px;
 }
.dropdown  div.city-hot a{
    color: #727272;
    margin: 0 5px;
    float: left;
    display: inline-block;
    white-space: nowrap;
    padding: 3px 10px 3px 15px;
}
.dropdown  p.citytab{
    margin: 10px 0;
    padding: 0 15px;
}
.dropdown  p.citytab>span{
    display: inline-block;
    width: 19%;
    height: 30px;
    color: #008842;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    cursor: pointer;
}
.dropdown p.citytab>span.active{
    position: relative;
    border: 1px solid #e0e0e0;
    border-bottom-color: #fff;
}
.dropdown div.city-list{
    padding: 20px;
    display: none;
}
.dropdown div.city-list>dl{
    display: block;
    overflow: hidden;
    line-height: 22px;
}
.dropdown div.city-list>dl>dt{
    font: bold 16px Arial,"Microsoft YaHei";
    color: #008842;
    width: 15px;
    float: left;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
}
.dropdown div.city-list>dl>dd{
    width: 430px;
}
.dropdown div.city-list>dl>dd>a{
    display: block;
    float: left;
    padding: 2px 0;
    width: 75px;
    margin-left:10px;
    text-align: left;
}
.dropdown div.city-list>dl>dd>a.hot{
    color: #008842;
    font-weight: bold;
}
.dropdown  div.city-list.active{
    display: block;
}

/*头部-top-right*/
.header-top ul.fr li{
    width: 90px;
    position: relative;
    float: right;
    padding: 5px 0;
    padding-left: 30px;
    border: 1px solid transparent;
}
.header-top ul.fr li.bgWhite{
    background: #fff;
    border-left: 1px solid #b4c1a3;
    border-right: 1px solid #b4c1a3;
    z-index: 50;
}
.header-top>div>ul:nth-child(3) li{
    margin-left: 20px;
    z-index: 8;
}
.header-top>div>ul:nth-child(3) li i{
    position: absolute;
    top: 5px;
    right: 60px;
    width: 25px;
    height: 20px;
    background: url("http://127.0.0.1:3000/img/imgIndex/header-img.png")no-repeat -60px 0;
}
.header-top>div>ul:nth-child(3) li:nth-child(2) i{
    background: url("http://127.0.0.1:3000/img/imgIndex/header-img.png")no-repeat -38px 0;
}
.header-top>div>ul:nth-child(3)>li>div{
    position: absolute;
    top: 25px;
    left: -1px;
    background: #fff;
    border: 1px solid #b4c1a3;
    padding: 5px 12px;
    text-align: left;
    cursor: pointer;
}
.header-top>div>ul:nth-child(3)>li:nth-child(2)>div>a{
    display: block;
    width: 80px;
    padding-left: 10px;
    line-height: 25px;
    color: #727272;
}
.header-top>div>ul:nth-child(3)>li:first-child>div img{
    width: 120px;
    height: 120px;
}
.header-top>div>ul:nth-child(3)>li:first-child>div span{
    display: block;
    padding-bottom: 5px;
    text-align: center;
}
.header-top>div>ul:last-child>li.colorGreen{
    width: 130px;
}
/*头部搜索框*/
.header-search{
    background: #E0E0E0;
    padding: 15px 0;
}
.header-search div.container>div.center-search{
    margin-left: 133px;
}
.header-search div.container>div.center-search input:first-child{
    width: 450px;
    height: 30px;
    padding: 0 10px;
    background: #E0E0E0;
}
.header-search div.container>div.center-search input:first-child:focus,.search-fixed  div.center-search input:first-child:focus{
    background: #fff;
}
.header-search div.container>div.center-search input:last-child{
    width: 80px;
    height: 30px;
    background: #008842;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: 2px;
    left: -4px;
}
.header-search div.container>div.center-search input{
    border: 1px solid #008842;
}
.header-search div.container>div.center-search>div:nth-child(2){
    margin-top: 5px;
    text-align: left;
}
.header-search div.container>div.center-search a{
    color: #727272;
    padding-right: 8px;
}
.header-search div.container>div.center-search a.hot{
    color: #008842;
}
.header-search div.container>div:last-child{
    position: relative;
    width: 170px;
    height: 40px;
    border: 2px solid #008842;
    background: #fff;
    margin-left: 218px;
}
.header-search div.container>div:last-child>div{
    cursor: pointer;
}
.header-search div.container>div:last-child a{
    display: block;
    height: 38px;
}
.header-search div.container>div:last-child span.cart{
    position: absolute;
    top: 10px;
    left: 25px;
    width: 34px;
    height: 24px;
    background: url("http://127.0.0.1:3000/img/imgIndex/header-img.png") no-repeat -110px 0;
}
.header-search div.container>div:last-child b:nth-child(2){
    position: absolute;
    top: 7px;
    left: 24px;
    width: 30px;
    height: 15px;
    text-align: center;
    color: #008842;
}
.header-search div.container>div:last-child b.bigFont{
    position: absolute;
    top: 3px;
    right: 0;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    color: #008842;
}

/*固定定位搜索框*/
.search-fixed{
    height: 50px;
    background: rgba(224,224,224,.9);
    position: fixed;
    z-index: 15;
    top: 0;
}
.search-fixed .container{
    margin: 0 auto;
}
.search-fixed div.left-logo>a{
    display: block;
    margin: 8px 173px 0 0;
}
.search-fixed div.left-logo>a img{
    height: 36px;
}
.search-fixed  div.center-search input:first-child{
    display: inline-block;
    width: 450px;
    height: 30px;
    padding: 0 10px;
    background: #E0E0E0;
}
.search-fixed  div.center-search input:last-child{
    display: inline-block;
    width: 80px;
    height: 30px;
    background: #008842;
    font-size: 13px;
    color: #fff;
    position: relative;
    top: 2px;
}
.search-fixed div.center-search input{
    border: 1px solid #008842;
}
.search-fixed div.center-search>div{
    display: inline-block;
    margin: 5px 2px 0 0;
}
.search-fixed div.center-search a{
    color: #727272;
    padding-right: 8px;
}
.search-fixed div.center-search a.hot{
    color: #008842;
}
.search-fixed div.cart{
    width: 140px;
    height: 35px;
    border: 1px solid #008842;
    background: #fff;
    float: left;
    margin: 6px 0 0 30px;
    position: relative;
}
.search-fixed div.cart>div{
    cursor: pointer;
}
.search-fixed div.cart>a{
    display: block;
    background: #ccc;
}
.search-fixed div.cart span.cart{
    position: absolute;
    top: 8px;
    left: 20px;
    width: 34px;
    height: 24px;
    background: url("http://127.0.0.1:3000/img/imgIndex/header-img.png") no-repeat -110px 0;
}
.search-fixed div.cart b:nth-child(2){
    position: absolute;
    top: 6px;
    left: 19px;
    color: #008842;
    text-align: center;
    width: 30px;
    height: 15px;
}
.search-fixed div.cart b.bigFont{
    position: absolute;
    top: 1px;
    right: 0;
    font-weight: normal;
    color: #008842;
    text-align: center;
    width: 85px;
    height: 30px;
    line-height:30px;
    font-size: 22px;
}

